    /* Stilet e Përgjithshme */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1.6;
        background-color: #f5f5f5;
        color: black;
    }


    /* Header Styling */
    header {
        position: sticky;
        top: 0;
        align-items: center !important;
        display: flex !important;
        justify-content: space-between !important;
        padding: 7px 10px !important;
        background-color: black !important;
        color: #fff;
    }

    #rotate-logo {
      font-size: 48px;
      font-weight: bold;
      color: red;
      animation: rotate360 8s linear infinite;
      display: inline-block;
    }

    @keyframes rotate360 {
      from {
        transform: rotateX(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }

    .main-content {
        display: flex;
        padding: 20px;
    }

    .category-sidebar {
        width: 350px;
        background-color: #f9f9f9;
        padding: 20px;
    }

    .category-sidebar a:hover {
        color: #D32F2F;
    }

    .category-list {
        list-style-type: none;
        padding: 0;
    }

    .category-list li {
        margin: 15px 0;
        list-style-type: none;
    }

    .category-list a {
        display: flex;
        align-items: center;
        text-decoration-style: none;
        color: #333;
        font-size: 16px;
    }

    .category-list i {
        margin-right: 10px;
        font-size: 20px;
    }

    .top-message {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1px;
    }

    #user {
        cursor: pointer;
    }

    #preloader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loader {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        border-top: 5px solid transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .content {
        text-align: center;
        padding: 20px;
        font-size: 33px;
    }

    /* Stilizimi per Search Bar */
    .search-bar {
        display: flex !important;
        align-items: center !important;
        gap: 5px;

    }

    .search-bar input[type="text"] {
        padding: 5px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        width: 580px; 
    }

    .search-bar button {
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        border-radius: 1px;
        background-color: #D32F2F;
        color: #fff;
        cursor: pointer;
        text-align: right;
        transition: background-color 0.3s;
    }

    .search-bar button:hover {
        background-color: black;
    }

    /* Stilizimi per Main Content */
    main {
        padding: 20px;
        background-color: #f5f5f5;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 100px);

    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 10px;
    }


    /* Stilizimi per Product Card */
    .product-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        text-align: center;
        transition: upscale 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        justify-content: space-between;
    }

    .product-card img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
        max-height: 150px;
        object-fit: contain;
    }

    .product-card h3 {
        font-size: 19.2px;
        margin: 16px 0;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        height: auto; 
        max-height: 96px; 
        line-height: 24.0px; 
        white-space: normal; 
    }

    .product-card p {
        font-size: 17.6px;
        color: #888;
        margin: 5px 0;
        flex-grow: 1;
    }

    .product-card button {
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        background-color: #D32F2F;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .product-card button:hover {
        background-color: black;
    }

    #paymentOptionsModal .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #paymentOptionsModal .payment-option-btn {
        width: 70%;
        margin: 8px 0;
        padding: 8px;
        font-size: 16px;
        color: white;
        background-color: #D32F2F;
    }

    #paymentOptionsModal .payment-option-btn:hover {
        background-color: black;
    }

     /* Slideshow Container */
    .slideWrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 20px auto;
        text-align: center;
    }


    #slideWrapper1 {
        padding: 4px 5px 5px 5px;
    }

    .slide img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }



    .product-detail-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f5f5f5;
        margin: 20px auto;  
        max-width: 800px;

    }

    .product-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        max-width: 800px;
    }

    .product-image img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .product-info {
        text-align: center;
        width: 100%;
    }


    .product-info h2 {
        font-size: 24px;
        margin: 10px 0;
        color: #333;
    }

    .product-price {
        font-size: 20.8px;
        color: #D32F2F;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .product-description {
        margin-bottom: 20px;
    }

    .product-description h3 {
        font-size: 19.2px;
        margin-bottom: 10px;
        color: #555;
    }

    .product-description p {
        font-size: 16px;
        color: #333;
    }

    .pay-btn {
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        background-color: #D32F2F;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .pay-btn:hover {
        background-color: black;
    }

    .back-link {
        text-decoration: none !important;
        color: #D32F2F !important;
        font-size: 19.2px;
        padding-right: 580px;
         white-space: nowrap;

    }


    .ui-accordion .ui-accordion-header {
        background-color: #6c757d; 
        color: #ced4da; 
        border: none;
    }

    .ui-accordion .ui-accordion-header.ui-state-active {
        background-color: #6c757d;
        color: #ced4da; 

    }
    .ui-accordion .ui-accordion-content {
        background-color: white;
        color: black;
        border-top: none;
        padding: 10px;
        max-height: 200px; 
        overflow-y: auto;
        text-transform: full-width;

    }


    /* Stilizimi per Modal */
    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 90%;
        max-width: 400px; 
    }

    .close-button {
        position: absolute;
        top: 1px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: #333;
    }

    .close-button:hover {
        color: #ff4500;
    }

    /* Form Styles */
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    form input, form button {
        padding: 10px;
        font-size: 16px;
    }

    form button {
        background-color: #D32F2F;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    form button:hover {
        background-color: black;
    }

    .container-Cards {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .container-Cards img {
        width: 80px;


    }

    #cardPaymentModal form,
    #cashPaymentModal form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #cardPaymentModal form div,
    #cashPaymentModal form div {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
    }

    #cardPaymentModal form label,
    #cashPaymentModal form label {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    #cardPaymentModal form input,
    #cashPaymentModal form input {
        flex: 1;
    }


    #cardPaymentModal form,
    #cashPaymentModal form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #cardPaymentModal form label,
    #cashPaymentModal form label {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    #cardPaymentModal form input,
    #cashPaymentModal form input {
        width: 100%;
    }

     #photos-for-login {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .h222 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-section {
      padding: 40px 20px;
    }

    .brand-logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      list-style: none;
      cursor: not-allowed;
    }

    .brand-logos li {
      border: 2px solid #eee;
      border-radius: 12px;
      padding: 20px;
      flex: 1 1 150px;
      max-width: 180px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease;
    }

    .brand-logos li:hover {
      transform: scale(1.05);
    }

    .brand-logos img {
      max-height: 40px;
      max-width: 100%;
      object-fit: contain;
    }

        
     /* Footer */
    footer {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center !important;
        display: flex !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        gap: 4px;      
        
    }

    footer .a11 {
        color: white !important;
        text-decoration-style: none !important;
        font-size: 25px !important;
    }



    /*Responsive */

            /* Për ekranet më të vogla (telefon) */
            @media  (max-width: 768px) {
                .modal-content .h222 {
                    font-size: 19px;
                    text-align: center;
                }

                .ui-accordion .ui-accordion-content{
                    max-height: 150px; 
                    text-transform: full-width;
                    text-align: left;
                }

                #paymentOptionsModal .modal-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #paymentOptionsModal .payment-option-btn {
                    width: 70%;
                    margin: 8px 0;
                    padding: 8px;
                    font-size: 16px;
                }

                .top-message p {
                    text-align: center;
                }

                .products {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                }

                .products .product-card h3 {
                    font-size: 15px;
                    margin: 10px 0;
                    color: #333;
                }

                .h222 {
                    font-size: 12px;
                }

                .content .h11 {
                    font-size: 27px;
                }

                .logo {
                    display: flex;
                    text-align: center;
                }

                .logo {
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                }

                    .slide img {
                    width: 100%;
                    height: auto;
                }

               
                header {
                    padding: 5px;
                    flex-direction: column;
                    align-items: center;
                }

                .search-bar {
                    margin-top: 10px;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                }

                .search-bar input[type="text"] {
                    width: 100%; 
                    font-size: 14px; /
                }

                .search-bar button {
                    padding: 5px 10px;
                    font-size: 14px; 
                }
                .modal-content {
                    width: 95%;  
                    max-width: 350px; 
                    padding: 15px; 
                    margin: 0 auto; 
                }

                .modal-content h2 {
                    font-size: 18px; 
                    text-align: center; 
                }

                form input, form button {
                    padding: 12px; 
                    font-size: 14px; 
                }

                .container-Cards img {
                    width: 79px; 
                }

                .back-link {
                    padding-right: 220px;
                }

                .brand-logos {
                    justify-content: space-around;
                }

                .brand-logos li {
                    flex: 1 1 120px;
                    height: 70px;
                    padding: 15px;
                }

                  .brand-logos img {
                    max-height: 30px;
                    }
                }

            @media screen and (max-width: 588px) {
                  .category-sidebar {
                    display: none;
                  }

                }


            /* Për ekranet 900px - 1023px */
            @media (min-width: 900px) and (max-width: 1023px) {
                .content {
                    font-size: 32px;
                    padding: 25px;
                }

                .products {
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                    gap: 20px;
                }

                .product-card {
                    padding: 16px;
                }

                .product-card h3 {
                    font-size: 20.8px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 13px;
                    padding: 9px 18px;
                }

                .search-bar input[type="text"] {
                    width: 580px; 
                    font-size: 18px;
                }

                .search-bar button {
                    padding: 5px 20px; 
                    font-size: 18px; 
                }

                footer {
                    padding: 12px 25px;

                }

                footer .a11 {
                    font-size: 19px;
                }
            }


            /* Për ekranet 770px - 899px */
            @media (min-width: 769px) and (max-width: 899px) {
                .content {
                    font-size: 30px;
                    padding: 20px;
                }

                .products {
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                    gap: 15px;
                }

                .product-card {
                    padding: 14px;
                }

                .product-card h3 {
                    font-size: 19.2px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 12px;
                    padding: 8px 16px;
                }

                .product-detail-container {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap:20px;
                }


                footer {
                    padding: 14px 30px;

                }

                footer .a11 {
                    font-size: 20px;
                }
            }

            /* Per ekranet 774px - 1120px */
            @media (min-width: 769px) and (max-width: 1120px) {
                .search-bar input[type="text"] {
                    width: 60%; 
                    font-size: 15px; 
                }

                .search-bar button {
                    padding: 5px 12px; 
                    font-size: 15px; 
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                }

                .search-bar {
                    margin-top: 10px; 
                    width: 80%; 
                    display: flex;
                    justify-content: center; 
                }
            }

            /* Për ekranet 1024px - 1199px */
            @media (min-width: 1024px) and (max-width: 1199px) {
                .content {
                    font-size: 36px;
                    padding: 30px;
                }

                .products {
                    grid-template-columns: repeat(4, minmax(100px, 1fr));
                    gap: 20px;
                }

                .product-card {
                    padding: 18px;
                }

                .product-card h3 {
                    font-size: 22.4px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 14px;
                    padding: 10px 22px;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }

                .search-bar input[type="text"] {
                    width: 400px; 
                    font-size: 18px;
                }

                .search-bar button {
                    padding: 5px 20px; 
                    font-size: 18px; 
                }

                 footer {
                    display: flex;
                 }
            }

            /* Për ekranet 1200px - 1300px */
            @media (min-width: 1200px) and (max-width: 1300px) {
                .content {
                    font-size: 38px;
                    padding: 35px;
                }

                .products {
                    grid-template-columns: repeat(4, minmax(100px, 1fr));
                    gap: 25px;
                }

                .product-card {
                    padding: 20px;
                }

                .product-card h3 {
                    font-size: 24.0px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 15px;
                    padding: 12px 25px;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }

            }

            @media screen and (min-width: 1300px) {
              a[href*="product=televizor"] {
                display: none;
              }
            }

            @media screen and (max-width: 588px) {
              a[href*="#products"] {
                display: none;
              }
            }

            /* Për ekranet 1309px - 1599px */
            @media (min-width: 1309px) and (max-width: 1599px) {
                .content {
                    font-size: 40px;
                    padding: 40px;
                }

                .products {
                    grid-template-columns: repeat(5, minmax(100px, 1fr));
                    gap: 30px;
                }

                .product-card {
                    padding: 22px;
                }

                .product-card h3 {
                    font-size: 25.6px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 16px;
                    padding: 12px 28px;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }


                footer {
                    padding: 15px 35px;
                    gap: 12px;
                }

                footer .a11 {
                    font-size: 22px;
                }
            }

            /* Për ekranet 1600px - 1919px */
            @media (min-width: 1600px) and (max-width: 1919px) {
                .content {
                    font-size: 42px;
                    padding: 45px;
                }

                .products {
                    grid-template-columns: repeat(5, minmax(100px, 1fr));
                    gap: 15px;
                }

                .product-card {
                    padding: 15px;
                }

                .product-card h3 {
                    font-size: 19.2px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 12px;
                    padding: 14px 30px;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }


                footer {
                    padding: 20px 40px;
                    gap: 15px;

                }

                footer .a11 {
                    font-size: 23px;
                }

                
            }

            /* Për ekranet 1920px - 2559px */
            @media (min-width: 1920px) and (max-width: 2559px) {
                .content {
                    font-size: 48px;
                    padding: 50px;
                }

                .products {
                    grid-template-columns: repeat(5, minmax(100px, 1fr));
                    gap: 20px;
                }

                .product-card {
                    padding: 15px;
                }

                .product-card h3 {
                    font-size: 28.8px;
                    line-clamp: 4;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }

                .product-card button {
                    font-size: 18px;
                    padding: 16px 35px;
                }

                
                footer {
                    padding: 25px 50px;
                    gap: 20px;
                    
                }

                footer .a11 {
                    font-size: 24px;
                }
            }

            /* Për ekranet 2560px+ */
            @media (min-width: 2560px) and (max-width: 2750px) {
                .content {
                    font-size: 52px;
                    padding: 60px;
                }

                .products {
                    grid-template-columns: repeat(7, minmax(150px, 1fr));
                    gap: 25px;
                }

                .product-card {
                    padding: 15px;
                }

                .product-detail-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap:30px;
                }

                .product-card h3 {
                    font-size: 24.0px;
                    line-clamp: 4;
                }

                .product-card button {
                    font-size: 20px;
                    padding: 18px 40px;
                }

                .search-bar input[type="text"] {
                    width: 580px; 
                    font-size: 18px;
                }

                .search-bar button {
                    padding: 5px 20px; 
                    font-size: 18px; 
                }

                footer {
                    padding: 30px 60px;
                        gap: 25px;
                    
                }

                footer .a11 {
                    font-size: 26px;
                }
            }




